@import "tailwindcss";

a {
    cursor: pointer;
}
button {
    cursor: pointer;
}

.home_bg {
    background-image: url('/src/assets/gotrip_bgImage.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
   
}
.text:hover {
color: blue;
}
.home1_bg {
    background-image:url('/src/assets/gotrip_bgImage.webp');
    background-size: cover;
    background-repeat: no-repeat;
  background-position: center;
    width: 100%;
   /*  height: 10%; */
}

.destination_bg{
    background-image: url("https://creativelayers.net/themes/gotrip-html/img/pages/destinations/1.png" );
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
  
}

