@import "tailwindcss";

a {
    cursor: pointer;
}
button {
    cursor: pointer;
}

.home_bg {
    background-image: url('/src/assets/gotrip_bgImage.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
   
}
.text:hover {
color: blue;
}